.wordle {
  --color-default: #d3d6da;
  --color-correct: #6aaa64;
  --color-present: #c9b458;
  --color-absent: #787c7e;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: 'Arial', sans-serif;
  background-color: #fff;
  color: #ffffff;
  padding: 20px;
  border-radius: 10px;
  width: 350px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);

  &__buttons {
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin-bottom: 0.5rem;
  }

  &__button--primary {
    background-color: var(--color-correct);
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
    font-weight: bold;

    &:hover {
      background-color: #5a9954;
      transition: background-color 0.3s ease;
    }
  }

  &__button--secondary {
    background-color: var(--color-present);
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
    font-weight: bold;

    &:hover {
      background-color: #b49b4f;
      transition: background-color 0.3s ease;
    }
  }

  &__status {
    margin-bottom: 1rem;

    &__message {
      color: #333;
      font-size: 1rem;
      font-weight: bold;
      text-align: center;
      margin-bottom: 0.5rem;
    }

    &__resetBtn {
      padding: 0.5rem 0.75rem;
      font-size: 1rem;
      font-weight: bold;
      background-color: var(--color-default);
      color: #000;
      border: none;
      border-radius: 0.5rem;
      cursor: pointer;

      &:hover {
        background-color: var(--color-correct);
        color: white;
        transition: all 0.2s ease;
      }
    }
  }

  &__grid {
    display: grid;
    grid-template-rows: repeat(var(--number-of-rows), 1fr);
    grid-template-columns: repeat(var(--number-of-columns), 1fr);
    gap: 5px;
    margin-bottom: 20px;

    &__key {
      --font-size: 1.5rem;
      --size: calc(var(--font-size) + 2 * 0.75rem);

      display: flex;
      align-items: center;
      justify-content: center;
      width: var(--size);
      height: var(--size);
      font-size: var(--font-size);
      line-height: 1;
      font-weight: bold;
      border: 2px solid var(--color-default);
      background-color: var(--color-default);
      color: white;
      cursor: pointer;
      transition: background-color 0.3s ease, border-color 0.3s ease;

      &--default {
        background-color: white;
        border-color: var(--color-default);
        color: black;
      }

      &--correct {
        background-color: var(--color-correct);
        border-color: var(--color-correct);
      }

      &--present {
        background-color: var(--color-present);
        border-color: var(--color-present);
      }

      &--absent {
        background-color: var(--color-absent);
        border-color: var(--color-absent);
      }
    }
  }

  &__keyboard {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0.375rem;

    &__row {
      display: flex;
      justify-content: center;
      gap: 0.25rem;
    }

    &__key {
      --font-size: 1rem;
      --width: calc(var(--font-size) + 2 * 0.5rem);
      --height: calc(var(--font-size) + 2 * 1rem);

      display: flex;
      align-items: center;
      justify-content: center;
      width: var(--width);
      height: var(--height);
      font-size: var(--font-size);
      line-height: 1;
      padding: 0;
      font-weight: bold;
      border: 2px solid var(--color-default);
      border-radius: 4px;
      background-color: var(--color-default);
      color: white;
      cursor: pointer;

      &--backspace {
        width: calc(1.5 * var(--width));
      }

      &--enter {
        width: calc(1.5 * var(--width));
        font-size: calc(0.675 * var(--font-size));
      }

      &--default {
        background-color: var(--color-default);
        border-color: var(--color-default);
        color: black;
      }

      &--correct {
        background-color: var(--color-correct);
        border-color: var(--color-correct);
      }

      &--present {
        background-color: var(--color-present);
        border-color: var(--color-present);
      }

      &--absent {
        background-color: var(--color-absent);
        border-color: var(--color-absent);
      }
    }
  }
}
