#root {
  max-width: 100vw;
  margin: 0 auto;
  padding: 1rem;
  text-align: center;
}

.app {
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  margin: 0 0 1rem 0;
}

.buttonsContainer {
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin: 1rem 0;

  button {
    font-size: 1rem;
    padding: 0.5rem 1rem;
    cursor: pointer;
  }
}
