#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.buttonsContainer {
  display: flex;
  justify-content: space-between;
  margin: 1rem 0;

  button {
    font-size: 1rem;
    padding: 0.5rem 1rem;
    cursor: pointer;
  }
}
